<h2>Todos los productos en tiempo real</h2>
<div id="products"></div>
<div id="formAlta">
<h2>Formulario de Alta de Producto</h2>

<form id="nuevoProductoForm" action="" method="POST">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" ><br>

    <label for="description">Descripción:</label>
    <input id="description" name="description" ></input><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" ><br>

    <label for="thumbnail">Thumbnail:</label>
    <input type="text" id="thumbnail" name="thumbnail" ><br>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" ><br>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" ><br>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" ><br>

    <label for="status">Status:</label>
    <select id="status" name="status" >
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select><br>

    <button type="submit">Enviar</button>
</form>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="realTimeProducts.js" charset="utf-8"></script>